@using Clockwork.Web.Models;

@{
    ViewBag.Title = "Clockwork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<CurrentTimeQuery>
<link href="~/Content/stylesheet.css" rel="stylesheet" />
<script src="~/Scripts/API-script.js"></script>

<div class="time_zone_picker">
    Select a Time Zone
    @Html.DropDownList("Time Zone", CurrentTimeQuery.GetTimeZones() as List<SelectListItem>, new { @id = "zone" })
    <br />
    <br />
    <br />
    <button type="submit" onclick="FirstAction()"> Get the time</button>

    <br />
    <br />
    <div id="selection"></div>
    <div class="loader_box">
        <div class="loader"></div>
    </div>
    
</div>

@{
    Html.RenderPartial("TimeQueries");
}




