<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @* jquery and moment.js script sources *@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-timezone-with-data.js"></script>

    @* script files for API and methods *@
    
</head>
<body>
    <header>
        Like Clockwork
    </header>
	@RenderBody()
</body>
</html>
